<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Books - Books:ME</title>
  
  <link rel="icon" sizes="180x180" href="/images/favicon/favicon.ico">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="css/books.css">
</head>

<body>

<%- include('partials/navbar') %>

<div class="greetings">
  <% user ? username = user.username : username = 'Guest'; %> 
  <h3>Hello, <i><%= username %></i></h3>
</div>


<section id="search">
  <div class="search-bar">
    <div class="search-box">
      <div class="form-inline my-2 my-lg-0">
        <input id="search-input" class="form-control mr-sm-3" type="text" placeholder="GO GO" aria-label="GO GO">
        <button id="search-btn" class="btn btn-secondary my-2 my-sm-0">Search</button>
        <!-- ↑ ↓ -->
        <!-- <button class="btn btn-danger sort-btn"><i>↑ A</i></button> -->
        <% if (isAuthenticated) { %>
          <button id="add-book-button" class="btn btn-danger">
            Add a book, now!
          </button>
          <% } %>
      </div>
      <!-- <button class="btn btn-dark search-btn" type="submit">Search</button> -->
    </div>
    
  </div>
</section>


<div class="container">
  
  <hr />

  <% if (isAuthenticated) { %>
  <hr />
  <div id="add-book" style="display: none">
    <form action="/books" enctype="multipart/form-data" method="post">
      <label for="title">title</label>
      <input type="text" class="form-control empty-me" name="title" required />
      <label for="author">author</label>
      <input type="text" class="form-control empty-me" name="author" required />
      <label for="genre">genre</label>
      <input type="text" class="form-control empty-me" name="genre" required />
      <label for="description">description</label>
      <textarea type="text" class="form-control empty-me" name="description" required></textarea>
      <label for="yearOfPublication">year of publication</label>
      <input type="number" class="form-control empty-me" name="yearOfPublication" required />
      <label for="coverImage">cover</label>
      <input type="file" class="from-control empty-me" name="coverImage" style="display: block;" />
      <hr />

      <button class="btn btn-danger" type="submit" style="margin: 0.5%">
        Add a book
      </button>
    </form>
  </div>
  <hr />
  <% } %> <%- include('partials/render-books') %>
</div>

<hr>
<footer class="container">
  <p>&copy; <i>ME:</i>Books</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<% if (isAuthenticated) { %>
<script type="text/javascript" src="scripts/addBook.js"></script>
<% } %>
<script type="text/javascript" src="scripts/loadBooks.js"></script>
<%- include('partials/footer') %>
