<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <img class="mb-4" src="images/logo.jpg" width="288" height="288">
    <h1 class="display-3">Books: <i>ME</i></h1>
    <p class="lead">Gimme your books!</p>
    <hr>
    <a class="btn btn-light btn-lg b" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg b" href="/login" role="button">Login</a>

  </div>
  <div>
    <a class="btn btn-dark btn-lg b" href="/books" role="button">Books</a>
    <a class="btn btn-light btn-lg b" href="/reviews" role="button">Reviews</a>
  </div>
</div>

<%- include('partials/footer') %>
