<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login - Books:ME</title>
  
  <link rel="icon" sizes="180x180" href="/images/favicon/favicon.ico">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="css/books.css">
</head>

<body>

<%- include('partials/navbar') %>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script type="text/javascript" src="scripts/validate-login.js"></script>

<div class="container mt-5">
  <h1>Login</h1>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">

          <form action="/user/login" method="POST">
            <div class="row">
              <div class="col-3">

                  <figure>
                    <a>
                      <img class="register-img" src="images/logged.jpg" />
                      <figcaption class="figure-caption">artwork by Bruno (diberkato)</figcaption>
                    </a>
                  </figure>
                  
              </div>
              <div class="col-sm-7">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    autofocus
                  />
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="password form-control"
                    name="password"
                  />
                </div>
               
                <button type="submit" class="login-btn btn btn-dark" disabled>
                  Login
                </button>
                
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
