<%- include('partials/header') %>
<%- include('partials/navbar') %>

<!--DON'T FORGET-->
<!--TODO: Make already-logged, register, login use the same template-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="scripts/validate-register.js"></script>

<div class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">

          <form action="/register" method="POST">
            
            <div class="row">
              <div class="col-3">
                <a><img class="img" src="images/register.jpg"></a>
              </div>
              <div class="col-sm-7">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" name="username" autofocus>
                </div>
                
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="password form-control" name="password">
                </div>

                <div class="form-group">
                  <label for="password-check">Retype password</label>
                  <input type="password" class="form-control password-check" name="password-check">
                </div>
                      
                <button type="submit" class="btn btn-dark register-btn" disabled>Register</button>
                <a href="/login" class="btn btn-light">Already got an account?</a>      
              </div>
            </div>  
          </form>
        </div>
      </div>
    </div>
    
  </div>
</div>

<%- include('partials/footer') %>
