<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Reviews - Books:ME</title>

  <link rel="icon" sizes="180x180" href="/images/favicon/favicon.ico">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="css/reviews.css">
</head>

<body>
  <%- include('partials/navbar') %>

  <main role="main">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3"><i>ME:</i>Reviewer</h1>
        <p>
          Time to get critical!
        </p>
      </div>
    </div>

    <%- include('partials/render-reviews') %>

    </div>
  </main>

  <footer class="container">
    <p>&copy; <i>ME:</i>Reviews</p>
  </footer>

  <%- include('partials/footer') %>
