/* BOOKS */

.search-bar {
  width: 100%;
  margin: 2rem 0;
  padding: 0 2rem;
}

.search-input {
  width: 25rem;
}

.b {
  margin: 1%;
}

.greetings {
  margin: 2%;
}

#add-book-button {
  display: block;
  margin: auto 0.5rem;
}

#add-book {
  color: #fff;
  padding: 1rem;
  background-color: #989899;
  border-radius: 15px 45px;
  margin-bottom: 5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 3rem;
  width: 100%;
}

.grid-item {
  cursor: pointer;
  text-align: center;
  font-size: larger;
  font-weight: 700;
}

.thumb {
  filter: grayscale(80%);
  height: 20rem;
  min-width: 12rem;
  border-radius: 0.8rem;
  border: 0.4rem solid #04767a;
  transition: 0.1s ease-in;
}

.hover-info {
  padding: 0.5rem;
  margin: 0.1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.3rem;
  color: #fff;
  position: relative;
  float: right;
  display: none;
  z-index: -1;
  transition: 0.2s ease-out;
}

.thumb:hover .hover-info {
  transform: translate(50%, -20%);
  display: block;
}

.thumb:hover .hover-rating {
  color: #879ad8;
}

.thumb:hover {
  transform: scale(1.03) translateX(3%);
  filter: grayscale(20%);
}

.book-info {
  margin: 1.5rem;
}

.book-author {
  font-size: medium;
}

.add-info {
  font-size: medium;
  font-weight: 400;
}

/* not to be touched */
.footer-hack {
  position: relative;
  top: 100rem;
}

.register-img {
  width: 100%;
}