#flex-container {
  margin: 15vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-between;
}

.flex-item {
  margin: 10px !important;
  width: 100%;
}

.cover {
  display: inline-block;
  min-width: 50vw;
  height: 50vh;
  border-radius: 0.8em;
  border: 1rem solid #04767a;
}

.info-wrapper {
  color: #fff;
  margin: 0;
  padding: 2rem 4rem;
  width: 100%;
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  width: 50%;
  font-size: x-large;
  margin: 1rem 0;
}

.desc {
  color: #fff;
  margin: 2vw 15vh;
  border-radius: 0.8rem;
  padding: 2rem 4rem;
  background-color: rgba(0, 0, 0, 0.5);
}

#add-review {
  padding: 10rem;
  width: 100%;
}

#add-review-btn {
  margin: 2rem;
}

.reviews-wrapper {
  text-align: center;
}

.grid-wrapper {
  padding: 5rem 15rem;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 0.5rem;
  width: 100%;
}

.grid-item {
  transition: transform 0.1s ease-in;
}

.grid-item:hover {
  transform: scale(1.04);
}

.review {
  height: 17vh;
}

.rev {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.8rem;
  padding: 1rem;
  margin: 0.4rem;
}

.rev:hover {
  cursor: pointer;
}

.rating {
  display: inline;
  float: right;
  position: relative;
  bottom: 1.5rem;
}

.user {
  display: inline;
}

@media (min-width: 700px) and (max-width: 1366px) {
  #flex-container {
    flex-direction: column;
    justify-content: center;
  }
}
