html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* ---------------------------------------- */

/* HOME PAGE */

.parallax {
  position: relative;
  height: 90%;
  width: 100%;
}

.jumbotron {
  border-radius: 0% !important;
  background-color: transparent;
  padding: 1rem 15rem;
  margin: 0;
  padding-top: 9em;
  text-align: center;
}

#main-background {
  width: 100%;
  height: 50em;
  align-items: center;
  text-align: center;
  background: url(../images/home-back.jpg) no-repeat center center fixed;
}

.quote {
  color: #fff;
  text-align: center;
  font-size: 3.5rem;
  padding: 13rem;
}

.author {
  font-size: 2rem;
}

.main-books-btn {
  position: relative;
  bottom: 7em;
}

#breaker {
  padding: 2em 10em;
  background: #212529;
  text-align: center;
  width: 100%;
}

#breaker a {
  margin: 0.5rem;
}

#detail-background {
  width: 100%;
  height: 55em;
  background: url(../images/parallax-front-dark.jpg) no-repeat center right
    fixed;
  text-align: center;
}

.home-grid {
  padding: 5rem 5rem 2rem 5rem;
  display: flex;
  flex-direction: row-reverse;
}

.promo-book {
  height: 30rem;
  border-radius: 1rem;
}

.promo-book-desc-background {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  margin: 0 4rem;
  padding: 0 0.4rem 0.4rem 0.4rem;
}

.promo-book-description {
  text-align: left;
  padding: 2rem;
  color: #fff;
  font-size: x-large;
}
