#review-wrapper {
  width: 100%;
  margin: 0;
  padding: 0 10rem;
}

#title {
  display: flex;
  justify-content: space-between;
}

.flex-container {
  padding: 8rem 20%;
}

#review-wrapper .flex-container h2 {
  cursor: pointer;
  margin-right: 1rem;
}