html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* ---------------------------------------- */

/* HOME PAGE */

.parallax {
  position: relative;
	height: 90%;
  width: 100%;
}

.jumbotron {
  border-radius: 0% !important;
  background-color: transparent;
  padding: 1rem 15rem; 
  margin: 0;
  padding-top: 9em;
  text-align: center;
}

#main-background {
  width: 100%;
  height: 50em;
  align-items: center;
  text-align: center;
  background: url(../images/home-back.jpg) no-repeat center center fixed;
}

.quote {
  color: #fff;
  text-align: center;
  font-size: 3.5rem;
  padding: 15rem;
}

.author {
  font-size: 2rem;
}

.main-books-btn {
  position: relative;
  bottom: 5em;
}

#breaker {
  padding: 2em 10em;
  background: #212529;
  text-align: center;
  width: 100%;
}

#detail-background {
  width: 100%;
  height: 60em;
  background: url(../images/parallax-front-dark.jpg) no-repeat center right fixed;
  text-align: center;
}

/* ---------------------------------------- */

/* BOOKS */

.search-bar {
  margin: 0 2%;
}

.search-input {
  width: 25rem;
}

.b {
  margin: 1%;
}

.greetings {
  margin: 2%;
}

#add-book {
  padding: 1rem;
  background-color: rgba(127, 221, 177, .6);
  border-radius: 15px 45px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 3rem;
  width: 100%;
}

.grid-item {
  text-align: center;
  font-size: larger;
  font-weight: 700;
}

.thumb {
  filter: grayscale(80%);
  height: 20rem;
  border-radius: 0.5em;
  border: #04767a solid;
}

.thumb:hover {
  transform: scale(1.03) translateX(3%);
  filter: grayscale(20%);
}

.book-info {
  margin: 1.5rem;
}

.add-info {
  font-size: medium;
  font-weight: 400;
}

.add-b {
  margin: 2%;
}

#wrapper {
  margin: 4%;
}

.filter-btn {
  position: relative;
  width: 100%;
}

.filter-btn button {
  height: auto;
  width: 100%;
}

.review {
  background-color: rgba(127, 221, 177, .6);
  border-radius: 15px 45px;
  width: 80%;
  max-height: 80%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  justify-items: left;
}

.register-img {
  width: 100%;
}