
/* BOOKS */

.search-bar {
  margin: 0 2%;
}

.search-input {
  width: 25rem;
}

.b {
  margin: 1%;
}

.greetings {
  margin: 2%;
}

#add-book {
  color: #fff;
  padding: 1rem;
  background-color: #989899;
  border-radius: 15px 45px;
  margin-bottom: 5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 3rem;
  width: 100%;
}

.grid-item {
  cursor: pointer;
  text-align: center;
  font-size: larger;
  font-weight: 700;
}

.thumb {
  filter: grayscale(80%);
  height: 20rem;
  min-width: 12rem;
  border-radius: 0.8em;
  border: 0.4rem solid #04767a;
  border-right: 0.4rem solid #cc1800;
  border-bottom: 0.4rem solid #cc1800;
}

.thumb:hover {
  transform: scale(1.03) translateX(3%);
  filter: grayscale(20%);
}

.hover-info {
  padding: 0.5rem;
  margin: 0.1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: relative;
  float: right;
  display: none;
  z-index: -1;
}

.page-btn {
  display: none;
  position: relative;
  z-index: -1;
}

.thumb:hover .hover-info {
  transform: translate(50%, -20%);
  display: block;
}

.thumb:hover .hover-rating {
  color: #e76c81;
}

.thumb:hover .page-btn {
  display: block;
  
}

.book-info {
  margin: 1.5rem;
}

.book-author {
  font-size: medium;
}

.add-info {
  font-size: medium;
  font-weight: 400;
}

.add-b {
  margin: 2%;
}

.loader-wrapper {
  width: 100%;
  text-align: center;
}

.loader {
  padding: 0.5rem;
  margin: 1rem;
}

.review {
  background-color: rgba(127, 221, 177, .6);
  border-radius: 15px 45px;
  width: 80%;
  max-height: 80%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  justify-items: left;
}

.register-img {
  width: 100%;
}